.product{
    display: flex;
    margin: 0 10px 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid lightgray;
}
.product-image{
    margin-right: 20px;
}
.product-name{
    color:blue;
    font-weight: 400;
}
.cart-button{
    background-color: goldenrod;
    width:150px;
    height:30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}